/*Designing for the Dropdown navigation menu on all the pages*/
/* Navbar container */
.navigationbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  margin: -10px;
  padding-top: 5px;
  padding-left: 10px;
}

/* Links inside the navbar */
.navigationbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
}

/* Add a red background color to navbar links on hover */
.navigationbar a:hover, .dropdown:hover .dropbtn {
  background-color: #3376FF;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
header h1{ /*Styling for the header*/
	text-align: center;
	font-size: 50px;
	font-family: 'Comic Neue', 'Arial', sans-serif;
	padding-top: 150px;
	padding-bottom: 150px;
	margin-top: 10px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
	color: white;
	background-image: url('IMG/Background.jpg');
  background-position: center;
}

.internet{
  text-align: center;
  font-size: 50px;
  font-family: 'Comic Neue', 'Arial', sans-serif;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  color: white;
  background-image: url('IMG/Background.jpg');
  background-position: center;
}
.row {   /*Side by side images*/
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 0 0 0 0;
}
h2{
  font-family: 'Roboto Mono', 'Helvetica', sans-serif;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-top: 30px;

}
p.homepage-paragraph {
  font-family: 'Arial', 'Helvetica', sans-serif;
  margin: 0 auto;
  padding: 0 0 50px 30px;
}
header {

  padding: 0px;
  margin: 0px;

}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}
main img{
  max-width: 100%;
  margin: 0 auto;
}
p.caption{
  color: #999999;
  font-style: italic;
  margin-top: 0;
  text-align: center;
}

p {
  line-height: 30px;
  padding-left: 0 0 50px 30px;
}
hr.bold {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 5px;
  border-color: #3376FF;
}

li {
    font-family: 'Arial', 'Helvetica', sans-serif;
    margin: 0 auto;
    padding-bottom: 10px;
    line-height: 30px;
}
footer {
  background-color: #333;
  font-style: 'Arial', 'Helvetica', sans-serif;
  color: white; 
  margin: -10px;
  padding: 0 0 0 0;
  border-color: #333;
  border-style: solid;
  border-width: 10px;
  margin-bottom: -50px;
  overflow: hidden;
}

a:link {
  color: red;
}